body {
    background: #f5f2bc;
}

.outter_1 {
    width: 100%;
    box-sizing: border-box;
    padding: 1%;
    border: 1px blue solid;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.outter {
    width: 15%;
    box-sizing: border-box;
    margin: 0.5%;
    padding: 1%;
    border: 1px blue solid;
    border-radius: 5px;
    background: cornflowerblue;
}

.inner {
    width: 15%;
    box-sizing: border-box;
    margin: 0.5%;
    padding: 1%;
    border: 1px blue solid;
    border-radius: 5px;
    background: cornflowerblue;
}